@font-face {
    font-family: LatoBlack;
    src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 900;
  }
  @font-face {
    font-family: LatoRegular;
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
  }
  @font-face {
    font-family: LatoLight;
    src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
  }
  @font-face {
    font-family: LatoThin;
    src: url('../fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
  }
body {
    background-color: #5cdB95;
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 1200px;
    margin: auto;
    padding: 0 2%;
    font-family: Lato;
    
}

main{
    background-color: #EDF5e1;
    padding:3em;

}

.bgImage h1{
   
        display: block;
        font-size: 3.4em;
        font-family: Lato;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: LatoBlack;
        font-weight: 900;
        
}
h1 {
    display: block;
    font-size: 2em;
    font-family: Lato;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: LatoBlack;
    font-weight: 900;
    }
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: LatoRegular;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: LatoRegular;
        }
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-family: LatoRegular;
            }

      footer p{
        font-family: LatoThin;
        font-size: .8em;
       
        text-align: center;
      }      

      .form{
        display: flex;
        flex-direction: column;
      }

      .form label{
        font-family: LatoRegular;
        margin-top:1em;
      }

      .form input, textarea{
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        border-color: #6b7280;
        border-width: 0px;
        border-radius: 0px;
        padding-top: 0.5rem;
        padding-right: 0.75rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        font-size: 1rem;
        line-height: 1.5rem;
        --tw-shadow: 0 0 #0000;
        margin-bottom:1.2ch;
      }

      .btn-primary{
        position: relative;
     
z-index: 1;
border-radius: 30px;
border-color: transparent;
--tw-bg-opacity: 1;
background-color: rgb(10 168 167 / var(--tw-bg-opacity));
text-transform: capitalize;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 150ms;
      }

.bgImage{
padding: 2em;
box-sizing: border-box;
background-image:
    linear-gradient(45deg,
        rgba(66, 245, 105, 0.75),
        rgba(8,83,156, 0.75)), url('../images/classroom.jpg');
    width: 100%;
    height: 680px;
    text-align: center;
        color: #fff;
}